<div class="user-show-main">
  <div class="user-show-container">
    <div class="user-profile">
      <img src = "<%= "/user_images/#{@user.image_name}" %>" >
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
    <div class="user-menus">
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <ul class="nav justify-content-center nav-pills">
      <li class="nav-item">
        <%= link_to("行った", "/users/#{@user.id}/done", {class: "nav-link"}) %>
      </li>
      <li class="nav-item">
        <%= link_to("行きたい", "/users/#{@user.id}/wanna", {class: "nav-link active"}) %>
      </li>
    </ul>
    <div class="performances-show-container">
      <% @wannas.each do |wanna| %>
        <% performance = Performance.find_by(id: wanna.performance_id) %>
        <div class="performances-show-item">
          <img src="<%= performance.image_name %>"><br>
          <%= link_to(performance.contents, "/performances/#{performance.id}") %>
        </div>
      <% end %>
    </div>
  </div>
</div>