<div class="posts-new-main">
  <div class="posts-new-container">
    <h1>投稿する</h1>
    <%= form_tag ("/posts/create") do %>
      <div class="posts-new-form">
        <% @post.errors.full_messages.each do |message| %>
          <div class="post-error-message">
            <%= message %>
          </div>
        <% end %>
        <div class="form-group">
          <label for="choosePerformance">公演</label>
          <select class="form-control" id="choosePerformance" name="performance_id">
            <% @performances.each do |performance| %>
              <option><%= performance.id %>. <%= performance.contents %></option>
            <% end %>
          </select>
        </div>
        <textarea name="content"><%= @post.content %></textarea><br>
        <input type="submit" value="投稿">
      </div>
    <% end %>
  </div>
</div>